In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")
df.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000

In [4]:
#how many rows and columns
print(df.shape)

(84672, 14)

In [5]:
#print column names
print(df.columns)

Index(['Year', 'Product line', 'Product type', 'Product', 'Order method type',
       'Retailer country', 'Revenue', 'Planned revenue', 'Product cost',
       'Quantity', 'Unit cost', 'Unit price', 'Gross profit',
       'Unit sale price'],
      dtype='object')

In [6]:
#print general info about the dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84672 entries, 0 to 84671
Data columns (total 14 columns):
Year                 84672 non-null int64
Product line         84672 non-null object
Product type         84672 non-null object
Product              84672 non-null object
Order method type    84672 non-null object
Retailer country     84672 non-null object
Revenue              24743 non-null float64
Planned revenue      24743 non-null float64
Product cost         24743 non-null float64
Quantity             24743 non-null float64
Unit cost            24743 non-null float64
Unit price           24743 non-null float64
Gross profit         24743 non-null float64
Unit sale price      24743 non-null float64
dtypes: float64(8), int64(1), object(5)
memory usage: 9.0+ MB
None

In [8]:
#describe the statistical characteristics of each numerical feature
df.describe()

,Year,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
count,84672.000000,2.474300e+04,2.474300e+04,2.474300e+04,24743.000000,24743.000000,24743.000000,2.474300e+04,24743.000000
mean,2005.500000,1.894183e+05,1.988175e+05,1.116251e+05,3606.559067,84.886432,155.991651,7.779311e+04,147.229912
std,1.118041,3.907509e+05,4.025355e+05,2.384156e+05,8777.721091,131.113339,246.804787,1.581223e+05,232.048812
min,2004.000000,0.000000e+00,1.569000e+01,5.760000e+00,1.000000,0.850000,2.060000,-1.815960e+04,0.000000
25%,2004.750000,1.857921e+04,1.955679e+04,9.431740e+03,328.000000,11.430000,23.000000,8.333060e+03,20.150000
50%,2005.500000,5.986727e+04,6.390684e+04,3.278372e+04,1043.000000,36.828644,66.770000,2.579376e+04,62.650000
75%,2006.250000,1.901930e+05,2.039956e+05,1.113709e+05,3288.000000,80.000000,148.300000,7.825415e+04,140.956667
max,2007.000000,1.005429e+07,1.005429e+07,6.756853e+06,313628.000000,690.000000,1359.720000,3.521098e+06,1307.802727

In [9]:
#describe the statistical characteristics of non-numerical features
df.describe(include=['object', 'bool'])

,Product line,Product type,Product,Order method type,Retailer country
count,84672,84672,84672,84672,84672
unique,5,21,144,7,21
top,Personal Accessories,Eyewear,Astro Pilot,Telephone,Brazil
freq,30576,9408,588,12096,4032

In [8]:
import pandas as pd
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")
print(df.groupby('Product').size())

Product
Aloe Relief                       588
Astro Pilot                       588
Auto Pilot                        588
Bear Edge                         588
Bear Survival Edge                588
Bella                             588
Blue Steel Max Putter             588
Blue Steel Putter                 588
BugShield Extreme                 588
BugShield Lotion                  588
BugShield Lotion Lite             588
BugShield Natural                 588
BugShield Spray                   588
Calamine Relief                   588
Canyon Mule Carryall              588
Canyon Mule Climber Backpack      588
Canyon Mule Cooler                588
Canyon Mule Extreme Backpack      588
Canyon Mule Journey Backpack      588
Canyon Mule Weekender Backpack    588
Capri                             588
Cat Eye                           588
Compact Relief Kit                588
Course Pro Gloves                 588
Course Pro Golf Bag               588
Course Pro Golf and Tee Set       588
Course Pro Putter                 588
Course Pro Umbrella               588
Dante                             588
Deluxe Family Relief Kit          588
                                 ...
Sky Pilot                         588
Star Dome                         588
Star Gazer 2                      588
Star Gazer 3                      588
Star Gazer 6                      588
Star Lite                         588
Star Peg                          588
Sun Blocker                       588
Sun Shelter 15                    588
Sun Shelter 30                    588
Sun Shelter Stick                 588
Sun Shield                        588
TX                                588
Trail Master                      588
Trail Scout                       588
Trail Star                        588
TrailChef Canteen                 588
TrailChef Cook Set                588
TrailChef Cup                     588
TrailChef Deluxe Cook Set         588
TrailChef Double Flame            588
TrailChef Kettle                  588
TrailChef Kitchen Kit             588
TrailChef Single Flame            588
TrailChef Utensils                588
TrailChef Water Bag               588
Trendi                            588
Venue                             588
Zodiak                            588
Zone                              588
Length: 144, dtype: int64

In [9]:
print(df.groupby('Order method type').size())

Order method type
E-mail         12096
Fax            12096
Mail           12096
Sales visit    12096
Special        12096
Telephone      12096
Web            12096
dtype: int64

In [10]:
print(df.groupby('Retailer country').size())

Retailer country
Australia         4032
Austria           4032
Belgium           4032
Brazil            4032
Canada            4032
China             4032
Denmark           4032
Finland           4032
France            4032
Germany           4032
Italy             4032
Japan             4032
Korea             4032
Mexico            4032
Netherlands       4032
Singapore         4032
Spain             4032
Sweden            4032
Switzerland       4032
United Kingdom    4032
United States     4032
dtype: int64

In [2]:
import pandas as pd
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")
print(df.groupby.hist)

AttributeError: 'function' object has no attribute 'hist'

import pandas as pd
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")
print(df.groupby.all)

In [4]:
groupby.all

NameError: name 'groupby' is not defined

In [5]:
import pandas as pd
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")
groupby.all

NameError: name 'groupby' is not defined

In [6]:
print(df.groupby()

SyntaxError: unexpected EOF while parsing (<ipython-input-6-072ef1ea26b4>, line 1)

In [7]:
print df.groupby

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(df.groupby)? (<ipython-input-7-1853f594c814>, line 1)

In [8]:
print(df.groupby)

<bound method NDFrame.groupby of        Year              Product line  Product type              Product  \
0      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
1      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
2      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
3      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
4      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
5      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
6      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
7      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
8      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
9      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
10     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
11     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
12     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
13     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
14     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
15     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
16     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
17     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
18     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
19     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
20     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
21     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
22     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
23     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
24     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
25     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
26     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
27     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
28     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
29     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
...     ...                       ...           ...                  ...
84642  2007  Mountaineering Equipment         Tools      Granite Extreme
84643  2007  Mountaineering Equipment         Tools      Granite Extreme
84644  2007  Mountaineering Equipment         Tools      Granite Extreme
84645  2007  Mountaineering Equipment         Tools      Granite Extreme
84646  2007  Mountaineering Equipment         Tools      Granite Extreme
84647  2007  Mountaineering Equipment         Tools      Granite Extreme
84648  2007  Mountaineering Equipment         Tools      Granite Extreme
84649  2007  Mountaineering Equipment         Tools      Granite Extreme
84650  2007  Mountaineering Equipment         Tools      Granite Extreme
84651  2007  Mountaineering Equipment         Tools      Granite Extreme
84652  2007  Mountaineering Equipment         Tools      Granite Extreme
84653  2007  Mountaineering Equipment         Tools      Granite Extreme
84654  2007  Mountaineering Equipment         Tools      Granite Extreme
84655  2007  Mountaineering Equipment         Tools      Granite Extreme
84656  2007  Mountaineering Equipment         Tools      Granite Extreme
84657  2007  Mountaineering Equipment         Tools      Granite Extreme
84658  2007  Mountaineering Equipment         Tools      Granite Extreme
84659  2007  Mountaineering Equipment         Tools      Granite Extreme
84660  2007  Mountaineering Equipment         Tools      Granite Extreme
84661  2007  Mountaineering Equipment         Tools      Granite Extreme
84662  2007  Mountaineering Equipment         Tools      Granite Extreme
84663  2007  Mountaineering Equipment         Tools      Granite Extreme
84664  2007  Mountaineering Equipment         Tools      Granite Extreme
84665  2007  Mountaineering Equipment         Tools      Granite Extreme
84666  2007  Mountaineering Equipment         Tools      Granite Extreme
84667  2007  Mountaineering Equipment         Tools      Granite Extreme
84668  2007  Mountaineering Equipment         Tools      Granite Extreme
84669  2007  Mountaineering Equipment         Tools      Granite Extreme
84670  2007  Mountaineering Equipment         Tools      Granite Extreme
84671  2007  Mountaineering Equipment         Tools      Granite Extreme

      Order method type Retailer country    Revenue  Planned revenue  \
0             Telephone    United States  315044.33        437477.15
1             Telephone           Canada   13444.68         14313.48
2             Telephone           Mexico        NaN              NaN
3             Telephone           Brazil        NaN              NaN
4             Telephone            Japan  181120.24        235236.64
5             Telephone            Korea        NaN              NaN
6             Telephone            China   69608.15        100200.95
7             Telephone        Singapore   30940.35         51619.47
8             Telephone        Australia        NaN              NaN
9             Telephone      Netherlands   74321.18         94421.52
10            Telephone           Sweden   18474.15         30821.43
11            Telephone          Finland   80890.34        117236.10
12            Telephone          Denmark   31746.70         33325.63
13            Telephone           France  103244.26        138113.22
14            Telephone          Germany        NaN              NaN
15            Telephone   United Kingdom  160227.13        220995.65
16            Telephone          Belgium        NaN              NaN
17            Telephone      Switzerland        NaN              NaN
18            Telephone          Austria   67179.39         85399.81
19            Telephone            Italy        NaN              NaN
20            Telephone            Spain        NaN              NaN
21          Sales visit    United States  181287.73        222735.41
22          Sales visit           Canada        NaN              NaN
23          Sales visit           Mexico  133617.26        169942.92
24          Sales visit           Brazil        NaN              NaN
25          Sales visit            Japan        NaN              NaN
26          Sales visit            Korea  186696.56        238492.10
27          Sales visit            China        NaN              NaN
28          Sales visit        Singapore  118193.46        161665.88
29          Sales visit        Australia        NaN              NaN
...                 ...              ...        ...              ...
84642            E-mail          Denmark        NaN              NaN
84643            E-mail           France        NaN              NaN
84644            E-mail          Germany        NaN              NaN
84645            E-mail   United Kingdom        NaN              NaN
84646            E-mail          Belgium        NaN              NaN
84647            E-mail      Switzerland        NaN              NaN
84648            E-mail          Austria        NaN              NaN
84649            E-mail            Italy        NaN              NaN
84650            E-mail            Spain        NaN              NaN
84651               Fax    United States        NaN              NaN
84652               Fax           Canada        NaN              NaN
84653               Fax           Mexico        NaN              NaN
84654               Fax           Brazil        NaN              NaN
84655               Fax            Japan        NaN              NaN
84656               Fax            Korea        NaN              NaN
84657               Fax            China        NaN              NaN
84658               Fax        Singapore        NaN              NaN
84659               Fax        Australia        NaN              NaN
84660               Fax      Netherlands        NaN              NaN
84661               Fax           Sweden        NaN              NaN
84662               Fax          Finland        NaN              NaN
84663               Fax          Denmark        NaN              NaN
84664               Fax           France        NaN              NaN
84665               Fax          Germany        NaN              NaN
84666               Fax   United Kingdom        NaN              NaN
84667               Fax          Belgium        NaN              NaN
84668               Fax      Switzerland        NaN              NaN
84669               Fax          Austria        NaN              NaN
84670               Fax            Italy        NaN              NaN
84671               Fax            Spain        NaN              NaN

       Product cost  Quantity  Unit cost  Unit price  Gross profit  \
0         158371.76   66385.0   2.552857        6.59     156672.57
1           6298.80    2172.0   2.900000        6.59       7145.88
2               NaN       NaN        NaN         NaN           NaN
3               NaN       NaN        NaN         NaN           NaN
4          89413.06   35696.0   2.657000        6.59      91707.18
5               NaN       NaN        NaN         NaN           NaN
6          35326.25   15205.0   2.495000        6.59      34281.90
7          16370.97    7833.0   2.090000        6.59      14569.38
8               NaN       NaN        NaN         NaN           NaN
9          36531.63   14328.0   2.697500        6.59      37789.55
10          9774.93    4677.0   2.090000        6.59       8699.22
11         41021.31   17790.0   2.495000        6.59      39869.03
12         14665.30    5057.0   2.900000        6.59      17081.40
13         51200.76   20958.0   2.630000        6.59      52043.50
14              NaN       NaN        NaN         NaN           NaN
15         80307.11   33535.0   2.576000        6.59      79920.02
16              NaN       NaN        NaN         NaN           NaN
17              NaN       NaN        NaN         NaN           NaN
18         32490.25   12959.0   2.697500        6.59      34689.14
19              NaN       NaN        NaN         NaN           NaN
20              NaN       NaN        NaN         NaN           NaN
21         88348.13   33799.0   2.720000        6.59      92939.60
22              NaN       NaN        NaN         NaN           NaN
23         65215.05   25788.0   2.720000        6.59      68402.21
24              NaN       NaN        NaN         NaN           NaN
25              NaN       NaN        NaN         NaN           NaN
26         91891.37   36190.0   2.697500        6.59      94805.19
27              NaN       NaN        NaN         NaN           NaN
28         59183.15   24532.0   2.576000        6.59      59010.31
29              NaN       NaN        NaN         NaN           NaN
...             ...       ...        ...         ...           ...
84642           NaN       NaN        NaN         NaN           NaN
84643           NaN       NaN        NaN         NaN           NaN
84644           NaN       NaN        NaN         NaN           NaN
84645           NaN       NaN        NaN         NaN           NaN
84646           NaN       NaN        NaN         NaN           NaN
84647           NaN       NaN        NaN         NaN           NaN
84648           NaN       NaN        NaN         NaN           NaN
84649           NaN       NaN        NaN         NaN           NaN
84650           NaN       NaN        NaN         NaN           NaN
84651           NaN       NaN        NaN         NaN           NaN
84652           NaN       NaN        NaN         NaN           NaN
84653           NaN       NaN        NaN         NaN           NaN
84654           NaN       NaN        NaN         NaN           NaN
84655           NaN       NaN        NaN         NaN           NaN
84656           NaN       NaN        NaN         NaN           NaN
84657           NaN       NaN        NaN         NaN           NaN
84658           NaN       NaN        NaN         NaN           NaN
84659           NaN       NaN        NaN         NaN           NaN
84660           NaN       NaN        NaN         NaN           NaN
84661           NaN       NaN        NaN         NaN           NaN
84662           NaN       NaN        NaN         NaN           NaN
84663           NaN       NaN        NaN         NaN           NaN
84664           NaN       NaN        NaN         NaN           NaN
84665           NaN       NaN        NaN         NaN           NaN
84666           NaN       NaN        NaN         NaN           NaN
84667           NaN       NaN        NaN         NaN           NaN
84668           NaN       NaN        NaN         NaN           NaN
84669           NaN       NaN        NaN         NaN           NaN
84670           NaN       NaN        NaN         NaN           NaN
84671           NaN       NaN        NaN         NaN           NaN

       Unit sale price
0             5.195714
1             6.190000
2                  NaN
3                  NaN
4             5.488000
5                  NaN
6             5.040000
7             3.950000
8                  NaN
9             5.585000
10            3.950000
11            5.070000
12            6.283333
13            5.443333
14                 NaN
15            5.270000
16                 NaN
17                 NaN
18            5.750000
19                 NaN
20                 NaN
21            5.652222
22                 NaN
23            5.723333
24                 NaN
25                 NaN
26            5.585000
27                 NaN
28            5.258000
29                 NaN
...                ...
84642              NaN
84643              NaN
84644              NaN
84645              NaN
84646              NaN
84647              NaN
84648              NaN
84649              NaN
84650              NaN
84651              NaN
84652              NaN
84653              NaN
84654              NaN
84655              NaN
84656              NaN
84657              NaN
84658              NaN
84659              NaN
84660              NaN
84661              NaN
84662              NaN
84663              NaN
84664              NaN
84665              NaN
84666              NaN
84667              NaN
84668              NaN
84669              NaN
84670              NaN
84671              NaN

[84672 rows x 14 columns]>

In [9]:
print(df.groupby).groups

<bound method NDFrame.groupby of        Year              Product line  Product type              Product  \
0      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
1      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
2      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
3      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
4      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
5      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
6      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
7      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
8      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
9      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
10     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
11     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
12     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
13     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
14     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
15     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
16     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
17     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
18     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
19     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
20     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
21     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
22     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
23     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
24     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
25     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
26     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
27     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
28     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
29     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
...     ...                       ...           ...                  ...
84642  2007  Mountaineering Equipment         Tools      Granite Extreme
84643  2007  Mountaineering Equipment         Tools      Granite Extreme
84644  2007  Mountaineering Equipment         Tools      Granite Extreme
84645  2007  Mountaineering Equipment         Tools      Granite Extreme
84646  2007  Mountaineering Equipment         Tools      Granite Extreme
84647  2007  Mountaineering Equipment         Tools      Granite Extreme
84648  2007  Mountaineering Equipment         Tools      Granite Extreme
84649  2007  Mountaineering Equipment         Tools      Granite Extreme
84650  2007  Mountaineering Equipment         Tools      Granite Extreme
84651  2007  Mountaineering Equipment         Tools      Granite Extreme
84652  2007  Mountaineering Equipment         Tools      Granite Extreme
84653  2007  Mountaineering Equipment         Tools      Granite Extreme
84654  2007  Mountaineering Equipment         Tools      Granite Extreme
84655  2007  Mountaineering Equipment         Tools      Granite Extreme
84656  2007  Mountaineering Equipment         Tools      Granite Extreme
84657  2007  Mountaineering Equipment         Tools      Granite Extreme
84658  2007  Mountaineering Equipment         Tools      Granite Extreme
84659  2007  Mountaineering Equipment         Tools      Granite Extreme
84660  2007  Mountaineering Equipment         Tools      Granite Extreme
84661  2007  Mountaineering Equipment         Tools      Granite Extreme
84662  2007  Mountaineering Equipment         Tools      Granite Extreme
84663  2007  Mountaineering Equipment         Tools      Granite Extreme
84664  2007  Mountaineering Equipment         Tools      Granite Extreme
84665  2007  Mountaineering Equipment         Tools      Granite Extreme
84666  2007  Mountaineering Equipment         Tools      Granite Extreme
84667  2007  Mountaineering Equipment         Tools      Granite Extreme
84668  2007  Mountaineering Equipment         Tools      Granite Extreme
84669  2007  Mountaineering Equipment         Tools      Granite Extreme
84670  2007  Mountaineering Equipment         Tools      Granite Extreme
84671  2007  Mountaineering Equipment         Tools      Granite Extreme

      Order method type Retailer country    Revenue  Planned revenue  \
0             Telephone    United States  315044.33        437477.15
1             Telephone           Canada   13444.68         14313.48
2             Telephone           Mexico        NaN              NaN
3             Telephone           Brazil        NaN              NaN
4             Telephone            Japan  181120.24        235236.64
5             Telephone            Korea        NaN              NaN
6             Telephone            China   69608.15        100200.95
7             Telephone        Singapore   30940.35         51619.47
8             Telephone        Australia        NaN              NaN
9             Telephone      Netherlands   74321.18         94421.52
10            Telephone           Sweden   18474.15         30821.43
11            Telephone          Finland   80890.34        117236.10
12            Telephone          Denmark   31746.70         33325.63
13            Telephone           France  103244.26        138113.22
14            Telephone          Germany        NaN              NaN
15            Telephone   United Kingdom  160227.13        220995.65
16            Telephone          Belgium        NaN              NaN
17            Telephone      Switzerland        NaN              NaN
18            Telephone          Austria   67179.39         85399.81
19            Telephone            Italy        NaN              NaN
20            Telephone            Spain        NaN              NaN
21          Sales visit    United States  181287.73        222735.41
22          Sales visit           Canada        NaN              NaN
23          Sales visit           Mexico  133617.26        169942.92
24          Sales visit           Brazil        NaN              NaN
25          Sales visit            Japan        NaN              NaN
26          Sales visit            Korea  186696.56        238492.10
27          Sales visit            China        NaN              NaN
28          Sales visit        Singapore  118193.46        161665.88
29          Sales visit        Australia        NaN              NaN
...                 ...              ...        ...              ...
84642            E-mail          Denmark        NaN              NaN
84643            E-mail           France        NaN              NaN
84644            E-mail          Germany        NaN              NaN
84645            E-mail   United Kingdom        NaN              NaN
84646            E-mail          Belgium        NaN              NaN
84647            E-mail      Switzerland        NaN              NaN
84648            E-mail          Austria        NaN              NaN
84649            E-mail            Italy        NaN              NaN
84650            E-mail            Spain        NaN              NaN
84651               Fax    United States        NaN              NaN
84652               Fax           Canada        NaN              NaN
84653               Fax           Mexico        NaN              NaN
84654               Fax           Brazil        NaN              NaN
84655               Fax            Japan        NaN              NaN
84656               Fax            Korea        NaN              NaN
84657               Fax            China        NaN              NaN
84658               Fax        Singapore        NaN              NaN
84659               Fax        Australia        NaN              NaN
84660               Fax      Netherlands        NaN              NaN
84661               Fax           Sweden        NaN              NaN
84662               Fax          Finland        NaN              NaN
84663               Fax          Denmark        NaN              NaN
84664               Fax           France        NaN              NaN
84665               Fax          Germany        NaN              NaN
84666               Fax   United Kingdom        NaN              NaN
84667               Fax          Belgium        NaN              NaN
84668               Fax      Switzerland        NaN              NaN
84669               Fax          Austria        NaN              NaN
84670               Fax            Italy        NaN              NaN
84671               Fax            Spain        NaN              NaN

       Product cost  Quantity  Unit cost  Unit price  Gross profit  \
0         158371.76   66385.0   2.552857        6.59     156672.57
1           6298.80    2172.0   2.900000        6.59       7145.88
2               NaN       NaN        NaN         NaN           NaN
3               NaN       NaN        NaN         NaN           NaN
4          89413.06   35696.0   2.657000        6.59      91707.18
5               NaN       NaN        NaN         NaN           NaN
6          35326.25   15205.0   2.495000        6.59      34281.90
7          16370.97    7833.0   2.090000        6.59      14569.38
8               NaN       NaN        NaN         NaN           NaN
9          36531.63   14328.0   2.697500        6.59      37789.55
10          9774.93    4677.0   2.090000        6.59       8699.22
11         41021.31   17790.0   2.495000        6.59      39869.03
12         14665.30    5057.0   2.900000        6.59      17081.40
13         51200.76   20958.0   2.630000        6.59      52043.50
14              NaN       NaN        NaN         NaN           NaN
15         80307.11   33535.0   2.576000        6.59      79920.02
16              NaN       NaN        NaN         NaN           NaN
17              NaN       NaN        NaN         NaN           NaN
18         32490.25   12959.0   2.697500        6.59      34689.14
19              NaN       NaN        NaN         NaN           NaN
20              NaN       NaN        NaN         NaN           NaN
21         88348.13   33799.0   2.720000        6.59      92939.60
22              NaN       NaN        NaN         NaN           NaN
23         65215.05   25788.0   2.720000        6.59      68402.21
24              NaN       NaN        NaN         NaN           NaN
25              NaN       NaN        NaN         NaN           NaN
26         91891.37   36190.0   2.697500        6.59      94805.19
27              NaN       NaN        NaN         NaN           NaN
28         59183.15   24532.0   2.576000        6.59      59010.31
29              NaN       NaN        NaN         NaN           NaN
...             ...       ...        ...         ...           ...
84642           NaN       NaN        NaN         NaN           NaN
84643           NaN       NaN        NaN         NaN           NaN
84644           NaN       NaN        NaN         NaN           NaN
84645           NaN       NaN        NaN         NaN           NaN
84646           NaN       NaN        NaN         NaN           NaN
84647           NaN       NaN        NaN         NaN           NaN
84648           NaN       NaN        NaN         NaN           NaN
84649           NaN       NaN        NaN         NaN           NaN
84650           NaN       NaN        NaN         NaN           NaN
84651           NaN       NaN        NaN         NaN           NaN
84652           NaN       NaN        NaN         NaN           NaN
84653           NaN       NaN        NaN         NaN           NaN
84654           NaN       NaN        NaN         NaN           NaN
84655           NaN       NaN        NaN         NaN           NaN
84656           NaN       NaN        NaN         NaN           NaN
84657           NaN       NaN        NaN         NaN           NaN
84658           NaN       NaN        NaN         NaN           NaN
84659           NaN       NaN        NaN         NaN           NaN
84660           NaN       NaN        NaN         NaN           NaN
84661           NaN       NaN        NaN         NaN           NaN
84662           NaN       NaN        NaN         NaN           NaN
84663           NaN       NaN        NaN         NaN           NaN
84664           NaN       NaN        NaN         NaN           NaN
84665           NaN       NaN        NaN         NaN           NaN
84666           NaN       NaN        NaN         NaN           NaN
84667           NaN       NaN        NaN         NaN           NaN
84668           NaN       NaN        NaN         NaN           NaN
84669           NaN       NaN        NaN         NaN           NaN
84670           NaN       NaN        NaN         NaN           NaN
84671           NaN       NaN        NaN         NaN           NaN

       Unit sale price
0             5.195714
1             6.190000
2                  NaN
3                  NaN
4             5.488000
5                  NaN
6             5.040000
7             3.950000
8                  NaN
9             5.585000
10            3.950000
11            5.070000
12            6.283333
13            5.443333
14                 NaN
15            5.270000
16                 NaN
17                 NaN
18            5.750000
19                 NaN
20                 NaN
21            5.652222
22                 NaN
23            5.723333
24                 NaN
25                 NaN
26            5.585000
27                 NaN
28            5.258000
29                 NaN
...                ...
84642              NaN
84643              NaN
84644              NaN
84645              NaN
84646              NaN
84647              NaN
84648              NaN
84649              NaN
84650              NaN
84651              NaN
84652              NaN
84653              NaN
84654              NaN
84655              NaN
84656              NaN
84657              NaN
84658              NaN
84659              NaN
84660              NaN
84661              NaN
84662              NaN
84663              NaN
84664              NaN
84665              NaN
84666              NaN
84667              NaN
84668              NaN
84669              NaN
84670              NaN
84671              NaN

[84672 rows x 14 columns]>

AttributeError: 'NoneType' object has no attribute 'groups'

In [10]:
print(df.groupby).indices

<bound method NDFrame.groupby of        Year              Product line  Product type              Product  \
0      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
1      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
2      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
3      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
4      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
5      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
6      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
7      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
8      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
9      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
10     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
11     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
12     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
13     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
14     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
15     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
16     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
17     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
18     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
19     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
20     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
21     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
22     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
23     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
24     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
25     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
26     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
27     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
28     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
29     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
...     ...                       ...           ...                  ...
84642  2007  Mountaineering Equipment         Tools      Granite Extreme
84643  2007  Mountaineering Equipment         Tools      Granite Extreme
84644  2007  Mountaineering Equipment         Tools      Granite Extreme
84645  2007  Mountaineering Equipment         Tools      Granite Extreme
84646  2007  Mountaineering Equipment         Tools      Granite Extreme
84647  2007  Mountaineering Equipment         Tools      Granite Extreme
84648  2007  Mountaineering Equipment         Tools      Granite Extreme
84649  2007  Mountaineering Equipment         Tools      Granite Extreme
84650  2007  Mountaineering Equipment         Tools      Granite Extreme
84651  2007  Mountaineering Equipment         Tools      Granite Extreme
84652  2007  Mountaineering Equipment         Tools      Granite Extreme
84653  2007  Mountaineering Equipment         Tools      Granite Extreme
84654  2007  Mountaineering Equipment         Tools      Granite Extreme
84655  2007  Mountaineering Equipment         Tools      Granite Extreme
84656  2007  Mountaineering Equipment         Tools      Granite Extreme
84657  2007  Mountaineering Equipment         Tools      Granite Extreme
84658  2007  Mountaineering Equipment         Tools      Granite Extreme
84659  2007  Mountaineering Equipment         Tools      Granite Extreme
84660  2007  Mountaineering Equipment         Tools      Granite Extreme
84661  2007  Mountaineering Equipment         Tools      Granite Extreme
84662  2007  Mountaineering Equipment         Tools      Granite Extreme
84663  2007  Mountaineering Equipment         Tools      Granite Extreme
84664  2007  Mountaineering Equipment         Tools      Granite Extreme
84665  2007  Mountaineering Equipment         Tools      Granite Extreme
84666  2007  Mountaineering Equipment         Tools      Granite Extreme
84667  2007  Mountaineering Equipment         Tools      Granite Extreme
84668  2007  Mountaineering Equipment         Tools      Granite Extreme
84669  2007  Mountaineering Equipment         Tools      Granite Extreme
84670  2007  Mountaineering Equipment         Tools      Granite Extreme
84671  2007  Mountaineering Equipment         Tools      Granite Extreme

      Order method type Retailer country    Revenue  Planned revenue  \
0             Telephone    United States  315044.33        437477.15
1             Telephone           Canada   13444.68         14313.48
2             Telephone           Mexico        NaN              NaN
3             Telephone           Brazil        NaN              NaN
4             Telephone            Japan  181120.24        235236.64
5             Telephone            Korea        NaN              NaN
6             Telephone            China   69608.15        100200.95
7             Telephone        Singapore   30940.35         51619.47
8             Telephone        Australia        NaN              NaN
9             Telephone      Netherlands   74321.18         94421.52
10            Telephone           Sweden   18474.15         30821.43
11            Telephone          Finland   80890.34        117236.10
12            Telephone          Denmark   31746.70         33325.63
13            Telephone           France  103244.26        138113.22
14            Telephone          Germany        NaN              NaN
15            Telephone   United Kingdom  160227.13        220995.65
16            Telephone          Belgium        NaN              NaN
17            Telephone      Switzerland        NaN              NaN
18            Telephone          Austria   67179.39         85399.81
19            Telephone            Italy        NaN              NaN
20            Telephone            Spain        NaN              NaN
21          Sales visit    United States  181287.73        222735.41
22          Sales visit           Canada        NaN              NaN
23          Sales visit           Mexico  133617.26        169942.92
24          Sales visit           Brazil        NaN              NaN
25          Sales visit            Japan        NaN              NaN
26          Sales visit            Korea  186696.56        238492.10
27          Sales visit            China        NaN              NaN
28          Sales visit        Singapore  118193.46        161665.88
29          Sales visit        Australia        NaN              NaN
...                 ...              ...        ...              ...
84642            E-mail          Denmark        NaN              NaN
84643            E-mail           France        NaN              NaN
84644            E-mail          Germany        NaN              NaN
84645            E-mail   United Kingdom        NaN              NaN
84646            E-mail          Belgium        NaN              NaN
84647            E-mail      Switzerland        NaN              NaN
84648            E-mail          Austria        NaN              NaN
84649            E-mail            Italy        NaN              NaN
84650            E-mail            Spain        NaN              NaN
84651               Fax    United States        NaN              NaN
84652               Fax           Canada        NaN              NaN
84653               Fax           Mexico        NaN              NaN
84654               Fax           Brazil        NaN              NaN
84655               Fax            Japan        NaN              NaN
84656               Fax            Korea        NaN              NaN
84657               Fax            China        NaN              NaN
84658               Fax        Singapore        NaN              NaN
84659               Fax        Australia        NaN              NaN
84660               Fax      Netherlands        NaN              NaN
84661               Fax           Sweden        NaN              NaN
84662               Fax          Finland        NaN              NaN
84663               Fax          Denmark        NaN              NaN
84664               Fax           France        NaN              NaN
84665               Fax          Germany        NaN              NaN
84666               Fax   United Kingdom        NaN              NaN
84667               Fax          Belgium        NaN              NaN
84668               Fax      Switzerland        NaN              NaN
84669               Fax          Austria        NaN              NaN
84670               Fax            Italy        NaN              NaN
84671               Fax            Spain        NaN              NaN

       Product cost  Quantity  Unit cost  Unit price  Gross profit  \
0         158371.76   66385.0   2.552857        6.59     156672.57
1           6298.80    2172.0   2.900000        6.59       7145.88
2               NaN       NaN        NaN         NaN           NaN
3               NaN       NaN        NaN         NaN           NaN
4          89413.06   35696.0   2.657000        6.59      91707.18
5               NaN       NaN        NaN         NaN           NaN
6          35326.25   15205.0   2.495000        6.59      34281.90
7          16370.97    7833.0   2.090000        6.59      14569.38
8               NaN       NaN        NaN         NaN           NaN
9          36531.63   14328.0   2.697500        6.59      37789.55
10          9774.93    4677.0   2.090000        6.59       8699.22
11         41021.31   17790.0   2.495000        6.59      39869.03
12         14665.30    5057.0   2.900000        6.59      17081.40
13         51200.76   20958.0   2.630000        6.59      52043.50
14              NaN       NaN        NaN         NaN           NaN
15         80307.11   33535.0   2.576000        6.59      79920.02
16              NaN       NaN        NaN         NaN           NaN
17              NaN       NaN        NaN         NaN           NaN
18         32490.25   12959.0   2.697500        6.59      34689.14
19              NaN       NaN        NaN         NaN           NaN
20              NaN       NaN        NaN         NaN           NaN
21         88348.13   33799.0   2.720000        6.59      92939.60
22              NaN       NaN        NaN         NaN           NaN
23         65215.05   25788.0   2.720000        6.59      68402.21
24              NaN       NaN        NaN         NaN           NaN
25              NaN       NaN        NaN         NaN           NaN
26         91891.37   36190.0   2.697500        6.59      94805.19
27              NaN       NaN        NaN         NaN           NaN
28         59183.15   24532.0   2.576000        6.59      59010.31
29              NaN       NaN        NaN         NaN           NaN
...             ...       ...        ...         ...           ...
84642           NaN       NaN        NaN         NaN           NaN
84643           NaN       NaN        NaN         NaN           NaN
84644           NaN       NaN        NaN         NaN           NaN
84645           NaN       NaN        NaN         NaN           NaN
84646           NaN       NaN        NaN         NaN           NaN
84647           NaN       NaN        NaN         NaN           NaN
84648           NaN       NaN        NaN         NaN           NaN
84649           NaN       NaN        NaN         NaN           NaN
84650           NaN       NaN        NaN         NaN           NaN
84651           NaN       NaN        NaN         NaN           NaN
84652           NaN       NaN        NaN         NaN           NaN
84653           NaN       NaN        NaN         NaN           NaN
84654           NaN       NaN        NaN         NaN           NaN
84655           NaN       NaN        NaN         NaN           NaN
84656           NaN       NaN        NaN         NaN           NaN
84657           NaN       NaN        NaN         NaN           NaN
84658           NaN       NaN        NaN         NaN           NaN
84659           NaN       NaN        NaN         NaN           NaN
84660           NaN       NaN        NaN         NaN           NaN
84661           NaN       NaN        NaN         NaN           NaN
84662           NaN       NaN        NaN         NaN           NaN
84663           NaN       NaN        NaN         NaN           NaN
84664           NaN       NaN        NaN         NaN           NaN
84665           NaN       NaN        NaN         NaN           NaN
84666           NaN       NaN        NaN         NaN           NaN
84667           NaN       NaN        NaN         NaN           NaN
84668           NaN       NaN        NaN         NaN           NaN
84669           NaN       NaN        NaN         NaN           NaN
84670           NaN       NaN        NaN         NaN           NaN
84671           NaN       NaN        NaN         NaN           NaN

       Unit sale price
0             5.195714
1             6.190000
2                  NaN
3                  NaN
4             5.488000
5                  NaN
6             5.040000
7             3.950000
8                  NaN
9             5.585000
10            3.950000
11            5.070000
12            6.283333
13            5.443333
14                 NaN
15            5.270000
16                 NaN
17                 NaN
18            5.750000
19                 NaN
20                 NaN
21            5.652222
22                 NaN
23            5.723333
24                 NaN
25                 NaN
26            5.585000
27                 NaN
28            5.258000
29                 NaN
...                ...
84642              NaN
84643              NaN
84644              NaN
84645              NaN
84646              NaN
84647              NaN
84648              NaN
84649              NaN
84650              NaN
84651              NaN
84652              NaN
84653              NaN
84654              NaN
84655              NaN
84656              NaN
84657              NaN
84658              NaN
84659              NaN
84660              NaN
84661              NaN
84662              NaN
84663              NaN
84664              NaN
84665              NaN
84666              NaN
84667              NaN
84668              NaN
84669              NaN
84670              NaN
84671              NaN

[84672 rows x 14 columns]>

AttributeError: 'NoneType' object has no attribute 'indices'

In [11]:
print(df.groupby(indices))

NameError: name 'indices' is not defined

In [12]:
print(df.groupby.agg)

AttributeError: 'function' object has no attribute 'agg'

In [13]:
print(df.groupby).agg

<bound method NDFrame.groupby of        Year              Product line  Product type              Product  \
0      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
1      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
2      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
3      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
4      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
5      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
6      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
7      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
8      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
9      2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
10     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
11     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
12     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
13     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
14     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
15     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
16     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
17     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
18     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
19     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
20     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
21     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
22     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
23     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
24     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
25     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
26     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
27     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
28     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
29     2004         Camping Equipment  Cooking Gear  TrailChef Water Bag
...     ...                       ...           ...                  ...
84642  2007  Mountaineering Equipment         Tools      Granite Extreme
84643  2007  Mountaineering Equipment         Tools      Granite Extreme
84644  2007  Mountaineering Equipment         Tools      Granite Extreme
84645  2007  Mountaineering Equipment         Tools      Granite Extreme
84646  2007  Mountaineering Equipment         Tools      Granite Extreme
84647  2007  Mountaineering Equipment         Tools      Granite Extreme
84648  2007  Mountaineering Equipment         Tools      Granite Extreme
84649  2007  Mountaineering Equipment         Tools      Granite Extreme
84650  2007  Mountaineering Equipment         Tools      Granite Extreme
84651  2007  Mountaineering Equipment         Tools      Granite Extreme
84652  2007  Mountaineering Equipment         Tools      Granite Extreme
84653  2007  Mountaineering Equipment         Tools      Granite Extreme
84654  2007  Mountaineering Equipment         Tools      Granite Extreme
84655  2007  Mountaineering Equipment         Tools      Granite Extreme
84656  2007  Mountaineering Equipment         Tools      Granite Extreme
84657  2007  Mountaineering Equipment         Tools      Granite Extreme
84658  2007  Mountaineering Equipment         Tools      Granite Extreme
84659  2007  Mountaineering Equipment         Tools      Granite Extreme
84660  2007  Mountaineering Equipment         Tools      Granite Extreme
84661  2007  Mountaineering Equipment         Tools      Granite Extreme
84662  2007  Mountaineering Equipment         Tools      Granite Extreme
84663  2007  Mountaineering Equipment         Tools      Granite Extreme
84664  2007  Mountaineering Equipment         Tools      Granite Extreme
84665  2007  Mountaineering Equipment         Tools      Granite Extreme
84666  2007  Mountaineering Equipment         Tools      Granite Extreme
84667  2007  Mountaineering Equipment         Tools      Granite Extreme
84668  2007  Mountaineering Equipment         Tools      Granite Extreme
84669  2007  Mountaineering Equipment         Tools      Granite Extreme
84670  2007  Mountaineering Equipment         Tools      Granite Extreme
84671  2007  Mountaineering Equipment         Tools      Granite Extreme

      Order method type Retailer country    Revenue  Planned revenue  \
0             Telephone    United States  315044.33        437477.15
1             Telephone           Canada   13444.68         14313.48
2             Telephone           Mexico        NaN              NaN
3             Telephone           Brazil        NaN              NaN
4             Telephone            Japan  181120.24        235236.64
5             Telephone            Korea        NaN              NaN
6             Telephone            China   69608.15        100200.95
7             Telephone        Singapore   30940.35         51619.47
8             Telephone        Australia        NaN              NaN
9             Telephone      Netherlands   74321.18         94421.52
10            Telephone           Sweden   18474.15         30821.43
11            Telephone          Finland   80890.34        117236.10
12            Telephone          Denmark   31746.70         33325.63
13            Telephone           France  103244.26        138113.22
14            Telephone          Germany        NaN              NaN
15            Telephone   United Kingdom  160227.13        220995.65
16            Telephone          Belgium        NaN              NaN
17            Telephone      Switzerland        NaN              NaN
18            Telephone          Austria   67179.39         85399.81
19            Telephone            Italy        NaN              NaN
20            Telephone            Spain        NaN              NaN
21          Sales visit    United States  181287.73        222735.41
22          Sales visit           Canada        NaN              NaN
23          Sales visit           Mexico  133617.26        169942.92
24          Sales visit           Brazil        NaN              NaN
25          Sales visit            Japan        NaN              NaN
26          Sales visit            Korea  186696.56        238492.10
27          Sales visit            China        NaN              NaN
28          Sales visit        Singapore  118193.46        161665.88
29          Sales visit        Australia        NaN              NaN
...                 ...              ...        ...              ...
84642            E-mail          Denmark        NaN              NaN
84643            E-mail           France        NaN              NaN
84644            E-mail          Germany        NaN              NaN
84645            E-mail   United Kingdom        NaN              NaN
84646            E-mail          Belgium        NaN              NaN
84647            E-mail      Switzerland        NaN              NaN
84648            E-mail          Austria        NaN              NaN
84649            E-mail            Italy        NaN              NaN
84650            E-mail            Spain        NaN              NaN
84651               Fax    United States        NaN              NaN
84652               Fax           Canada        NaN              NaN
84653               Fax           Mexico        NaN              NaN
84654               Fax           Brazil        NaN              NaN
84655               Fax            Japan        NaN              NaN
84656               Fax            Korea        NaN              NaN
84657               Fax            China        NaN              NaN
84658               Fax        Singapore        NaN              NaN
84659               Fax        Australia        NaN              NaN
84660               Fax      Netherlands        NaN              NaN
84661               Fax           Sweden        NaN              NaN
84662               Fax          Finland        NaN              NaN
84663               Fax          Denmark        NaN              NaN
84664               Fax           France        NaN              NaN
84665               Fax          Germany        NaN              NaN
84666               Fax   United Kingdom        NaN              NaN
84667               Fax          Belgium        NaN              NaN
84668               Fax      Switzerland        NaN              NaN
84669               Fax          Austria        NaN              NaN
84670               Fax            Italy        NaN              NaN
84671               Fax            Spain        NaN              NaN

       Product cost  Quantity  Unit cost  Unit price  Gross profit  \
0         158371.76   66385.0   2.552857        6.59     156672.57
1           6298.80    2172.0   2.900000        6.59       7145.88
2               NaN       NaN        NaN         NaN           NaN
3               NaN       NaN        NaN         NaN           NaN
4          89413.06   35696.0   2.657000        6.59      91707.18
5               NaN       NaN        NaN         NaN           NaN
6          35326.25   15205.0   2.495000        6.59      34281.90
7          16370.97    7833.0   2.090000        6.59      14569.38
8               NaN       NaN        NaN         NaN           NaN
9          36531.63   14328.0   2.697500        6.59      37789.55
10          9774.93    4677.0   2.090000        6.59       8699.22
11         41021.31   17790.0   2.495000        6.59      39869.03
12         14665.30    5057.0   2.900000        6.59      17081.40
13         51200.76   20958.0   2.630000        6.59      52043.50
14              NaN       NaN        NaN         NaN           NaN
15         80307.11   33535.0   2.576000        6.59      79920.02
16              NaN       NaN        NaN         NaN           NaN
17              NaN       NaN        NaN         NaN           NaN
18         32490.25   12959.0   2.697500        6.59      34689.14
19              NaN       NaN        NaN         NaN           NaN
20              NaN       NaN        NaN         NaN           NaN
21         88348.13   33799.0   2.720000        6.59      92939.60
22              NaN       NaN        NaN         NaN           NaN
23         65215.05   25788.0   2.720000        6.59      68402.21
24              NaN       NaN        NaN         NaN           NaN
25              NaN       NaN        NaN         NaN           NaN
26         91891.37   36190.0   2.697500        6.59      94805.19
27              NaN       NaN        NaN         NaN           NaN
28         59183.15   24532.0   2.576000        6.59      59010.31
29              NaN       NaN        NaN         NaN           NaN
...             ...       ...        ...         ...           ...
84642           NaN       NaN        NaN         NaN           NaN
84643           NaN       NaN        NaN         NaN           NaN
84644           NaN       NaN        NaN         NaN           NaN
84645           NaN       NaN        NaN         NaN           NaN
84646           NaN       NaN        NaN         NaN           NaN
84647           NaN       NaN        NaN         NaN           NaN
84648           NaN       NaN        NaN         NaN           NaN
84649           NaN       NaN        NaN         NaN           NaN
84650           NaN       NaN        NaN         NaN           NaN
84651           NaN       NaN        NaN         NaN           NaN
84652           NaN       NaN        NaN         NaN           NaN
84653           NaN       NaN        NaN         NaN           NaN
84654           NaN       NaN        NaN         NaN           NaN
84655           NaN       NaN        NaN         NaN           NaN
84656           NaN       NaN        NaN         NaN           NaN
84657           NaN       NaN        NaN         NaN           NaN
84658           NaN       NaN        NaN         NaN           NaN
84659           NaN       NaN        NaN         NaN           NaN
84660           NaN       NaN        NaN         NaN           NaN
84661           NaN       NaN        NaN         NaN           NaN
84662           NaN       NaN        NaN         NaN           NaN
84663           NaN       NaN        NaN         NaN           NaN
84664           NaN       NaN        NaN         NaN           NaN
84665           NaN       NaN        NaN         NaN           NaN
84666           NaN       NaN        NaN         NaN           NaN
84667           NaN       NaN        NaN         NaN           NaN
84668           NaN       NaN        NaN         NaN           NaN
84669           NaN       NaN        NaN         NaN           NaN
84670           NaN       NaN        NaN         NaN           NaN
84671           NaN       NaN        NaN         NaN           NaN

       Unit sale price
0             5.195714
1             6.190000
2                  NaN
3                  NaN
4             5.488000
5                  NaN
6             5.040000
7             3.950000
8                  NaN
9             5.585000
10            3.950000
11            5.070000
12            6.283333
13            5.443333
14                 NaN
15            5.270000
16                 NaN
17                 NaN
18            5.750000
19                 NaN
20                 NaN
21            5.652222
22                 NaN
23            5.723333
24                 NaN
25                 NaN
26            5.585000
27                 NaN
28            5.258000
29                 NaN
...                ...
84642              NaN
84643              NaN
84644              NaN
84645              NaN
84646              NaN
84647              NaN
84648              NaN
84649              NaN
84650              NaN
84651              NaN
84652              NaN
84653              NaN
84654              NaN
84655              NaN
84656              NaN
84657              NaN
84658              NaN
84659              NaN
84660              NaN
84661              NaN
84662              NaN
84663              NaN
84664              NaN
84665              NaN
84666              NaN
84667              NaN
84668              NaN
84669              NaN
84670              NaN
84671              NaN

[84672 rows x 14 columns]>

AttributeError: 'NoneType' object has no attribute 'agg'